html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';font-size: 22px;
}

main {
    background: #ffff;
}
nav a {
    color: rgb(103, 184, 130);
}

h1 {
    text-align:center;
    margin: 0;
    line-height: 65px;
}

li {
    list-style-type: none;
    font-size: 25px;
    text-align:center;
    margin: 0;
    line-height: 65px;
}

a, a:link ,a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    scroll-behavior: smooth;
}

p {
    max-width: 60rem;

}

.articleSection1 {
    margin: auto;
    width: 60%;
    padding: 10px;
    font-size: 20px;
}
.articleSection2 {
    margin: auto;
    width: 60%;
    padding: 10px;
    font-size: 20px;
}
.articleSection3 {
    margin: auto;
    width: 60%;
    padding: 10px;
    font-size: 20px;
}

#header {
    width: 100%;
    min-height: 100vh;
    background-image: url("headerBilde.jpg");
    background-size: 100% ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;

}
.text {
    font-size: 15px;
}
.svar{
    font-style: italic;
}

/*mobile first*/
@media (min-width: 600px) {
    
}